<template>
  <section class="section">
    <InternetTime
      :value="value"
      :grain="grain"
    />
  </section>
</template>

<script>
import Client from '@/client.js';
import InternetTime from '@/components/InternetTime.vue';

export default {
  name: 'App',
  components: {
    InternetTime,
  },
  data: () => ({
    client: new Client('/beats-ws'),
    value: null,
    grain: 0,
  }),
  methods: {
    update(value) {
      this.value = value === 0 ? 0 : value || null;
    },
  },
  mounted() {
    this.client.run('/topic/beats', this.update);

    const app = document.getElementById('app');
    if (app) {
      app.addEventListener('click', () => {
        this.grain += 1;
      });
    }
  },
};
</script>

<style lang="sass">
@use "bulma/bulma.scss"

#app
  height: 100vh
</style>
