<template>
  <div class="container">
    <div class="columns py-3">
      <div class="column is-full">
        <div class="content has-text-centered">
          <h1 class="title is-size-1 is-mono">
            {{ current }}
          </h1>
        </div>
      </div>
    </div>
    <div class="columns py-3">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="content has-text-centered">
          <progress
            :id="progressId"
            class="progress is-large"
            :value="progress"
            max="1000"
          />
          <label
            :for="progressId"
            class="is-hidden"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const limit = 4;

export default {
  name: 'InternetTime',
  props: {
    value: {
      type: Number,
      required: false,
      default: null,
    },
    grain: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data: () => ({
    progressId: crypto.randomUUID(),
  }),
  computed: {
    current() {
      if (!this.value) {
        return '…';
      }
      const trail = this.grain % limit;
      const width = trail === 0 ? 3 : limit + trail;
      const value = this.value.toFixed(limit).padStart(2 * limit, '0');
      return `@${value.slice(0, width)}`;
    },
    progress() {
      if (!this.value) {
        return null;
      }
      return Math.floor(this.value);
    },
  },
};
</script>

<style lang="sass">
.is-mono
  font-family: monospace
</style>
